.login-section {
  background-image: url("../../../assets//Web\ estandar\ CANVAS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-section-title {
  margin-top: 150px;
  text-align: center;
}
.login-section-title > h2 {
  font-family: var(--font-title);
  font-size: 38px;
  line-height: 42px;
}
.login-container {
  width: 100%;
}
.login-form {
  width: 80%;
  max-width: 400px;
  margin: 50px auto 75px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.login-form > .form-content {
  padding: 20px;
}
.login-form > .form-content > .form-options {
  margin: 20px 0 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form > .form-content > .form-options > a {
  font-family: var(--font-link);
  font-weight: 300;
  color: #245373;
  font-size: 13px;
}
.login-form > .form-content > .form-checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 0 20px;
}
.login-form > .form-content > .form-checkbox > .input-checkbox {
  display: none;
}
.login-form > .form-content > .form-checkbox > .input-checkbox + label:before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  float: left;
  margin: 0 0.5em 0 0;
  border: 2px solid #ccc;
  background: #fff;
}
.login-form
  > .form-content
  > .form-checkbox
  > .input-checkbox:checked
  + label:before {
  border-color: #63c0bb;
}
.login-form
  > .form-content
  > .form-checkbox
  > .input-checkbox:checked
  + label:after {
  content: "";
  width: 6px;
  height: 3px;
  border: 2px solid #63c0bb;
  float: left;
  margin-left: -1.4em;
  border-right: 0;
  border-top: 0;
  margin-top: 0.28em;
  transform: rotate(-55deg);
}
.login-form > .form-content > .form-checkbox > label {
  font-family: var(--font-paragraph);
  color: #245373;
  font-size: 14px;
  line-height: 16px;
}
.login-form > .form-content > .login-btn {
  margin: 20px 0 10px 0;
  text-align: center;
}
.login-form > .form-content > .login-btn > button {
  background-color: #63c0bb;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: var(--font-link);
  color: #fff;
  font-size: 18px;
}
.login-form > .form-content > .login-btn > button > a {
  font-family: var(--font-link);
  color: #fff;
  font-size: 18px;
}
.aviso-momentaneo {
  position: relative;
  font-family: var(--font-link);
  font-size: 15px;
  line-height: 15px;
  margin-top: 130px;
  width: 70%;
  margin-bottom: -130px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: rgb(100, 100, 100);
}
.aviso-momentaneo > button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.aviso-momentaneo > p {
  margin: 10px 0;
}
.form-change-password {
  margin: 50px 10% 80px 10%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.form-change-password > .form-data {
  padding: 5px;
}
.form-change-password > .form-button {
  margin: 20px 0 10px 0;
  text-align: center;
}
.form-change-password > .form-button > button {
  font-family: var(--font-paragraph);
  background-color: #63c0bb;
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  border: none;
  cursor: pointer;
}
.success-div {
  width: 80%;
  max-width: 360px;
  margin: 100px auto 50px;
}
.success-div > .message-box {
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success-div > .message-box > img {
  width: 40px;
  object-fit: contain;
}
.success-div > .message-box > p {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 27px;
  line-height: 36px;
  padding: 15px 0;
  text-align: center;
}
.success-div > button {
  margin: 50px auto 0;
  background-color: #63c0bb;
  border: none;
  outline: none;
  border-radius: 52px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-div > button > a {
  font-family: var(--font-link);
  color: #fff;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .aviso-momentaneo {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 20px 15px 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: rgb(100, 100, 100);
  }
  .aviso-momentaneo > button {
    top: 8px;
    right: 8px;
    border-radius: 10px;
  }
  .aviso-momentaneo > p {
    margin: 15px 0;
  }
  .login-container {
    width: 80%;
  }
  .login-section-title > h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .login-form {
    max-width: 450px;
    padding: 30px 40px;
  }
  .login-form > .form-content > .form-control {
    padding: 15px 0;
  }
  .login-form > .form-content > .form-options {
    margin: 20px 0;
  }
  .login-form > .form-content > .login-btn {
    margin: 30px 0;
  }
  .login-form > .form-content > .login-btn > button {
    padding: 10px 15px;
  }
  .form-change-password {
    margin: 50px auto;
    width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .aviso-momentaneo {
    left: 30px;
  }
}
