.login-section {
  background-image: url("../../../assets//Web\ estandar\ CANVAS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-section-title {
  margin-top: 150px;
  text-align: center;
}
.login-section-title > h2 {
  font-family: var(--font-title);
  font-size: 38px;
  line-height: 42px;
}
.login-container {
  width: 100%;
}
.login-form {
  width: 80%;
  max-width: 400px;
  margin: 50px auto 75px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}
.login-form > .form-content {
  padding: 20px;
}
.login-form > .form-content > .form-options {
  margin: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-form > .form-content > .form-options > a {
  font-family: var(--font-link);
  width: 40%;
  color: #000000;
  font-size: 14px;
}
.login-form > .form-content > .form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}
.login-form > .form-content > .form-checkbox > .input-checkbox {
  margin-right: 5px;
}
.login-form > .form-content > .form-checkbox > label {
  font-family: var(--font-paragraph);
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}
.login-form > .form-content > .login-btn {
  margin: 20px 0 10px 0;
  text-align: center;
}
.login-form > .form-content > .login-btn > button {
  background-color: #63c0bb;
  border-radius: 20px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-family: var(--font-link);
  color: #fff;
  font-size: 18px;
}
.login-form > .form-content > .login-btn > button > a {
  font-family: var(--font-link);
  color: #fff;
  font-size: 18px;
}
.aviso-momentaneo {
  font-family: var(--font-link);
  font-size: 15px;
  line-height: 15px;
  margin-top: 130px;
  width: 70%;
  margin-bottom: -130px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: rgb(100, 100, 100);
}
.aviso-momentaneo > button {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  float: right;
}
.aviso-momentaneo > p {
  margin: 15px 0;
}
@media screen and (min-width: 768px) {
  .aviso-momentaneo {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    color: rgb(100, 100, 100);
  }
  .aviso-momentaneo > button {
    margin-left: auto;
    border-radius: 10px;
  }
  .aviso-momentaneo > p {
    margin: 15px 0;
  }
  .login-container {
    width: 80%;
  }
  .login-section-title > h2 {
    font-size: 45px;
    line-height: 50px;
  }
  .login-form {
    max-width: 450px;
    padding: 30px 40px;
  }
  .login-form > .form-content > .form-control {
    padding: 15px 0;
  }
  .login-form > .form-content > .form-options {
    margin: 20px 0;
  }
  .login-form > .form-content > .login-btn {
    margin: 30px 0 20px;
  }
  .login-form > .form-content > .login-btn > button {
    padding: 10px 15px;
  }
}
@media screen and (min-width: 1024px) {
  .aviso-momentaneo {
    left: 30px;
  }
}
