.errmsg {
  display: inline-block;
  background-color: #ccc;
  color: firebrick;
  padding: 0.25em;
  margin-bottom: 0.5em;
}
.form-options.options-signup {
  margin: 20px auto;
}
.form-options.options-signup > a {
  width: 80%;
}
.form__input--incomplete { /* i doesn't work*/
  border: 1px solid #f00;
  outline: 1px solid #f00;
}