
.userlist {
  min-height: 70vh;
  margin-bottom: 50px;
}

.table--title {
  margin-top: 150px;
}
.table--title > h2 {
  margin-left: 5%;
  font-family: var(--font-coco-gothic-bold);
  font-size: 26px;
  line-height: 30px;
}

thead,
tbody,
tr {
  display: contents;
}

.table {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  /* margin-bottom: 120px; */
  background-color: rgba(50, 50, 50, 0.8);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.1em;
  font-family: var(--font-montserrat);
  box-shadow: 1px 2px 5px 2px #acaaaa;
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  text-align: left;
  border: 1px solid #000;
  padding: 0.7em 0.5em;
  background-color: #fff;
  border-radius: 2px;
}

.table__cell {
  font-size: 15px;
}

.table__user {
  display: flex;
  align-items: center;
}

.table__roles,
.table__edit {
  display: grid;
  place-content: center;
}

.table__button {
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/*Edit user*/

.edit__user {
  margin-top: 140px;
  margin-bottom: 50px;
  min-height: 60vh;
}
.edit__user > h2 {
  margin-left: 5%;
  font-family: var(--font-coco-gothic-bold);
  font-size: 26px;
  line-height: 30px;
}
.user__box {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: rgba(99, 192, 187, 0.7);
  border-radius: 8px;
}
.user__box > .data-user {
  padding: 20px;
}
.user__box > .data-user > .data-name > h3 {
  font-family: var(--font-montserrat);
  font-size: 18px;
  line-height: 20px;
}
.user__box > .data-user > .data-email {
  margin-top: 15px;
  font-family: var(--font-montserrat);
  font-size: 15px;
  line-height: 17px;
}
.user__box > .data-user > .data-permitions {
  margin-top: 15px;
  font-family: var(--font-montserrat);
}
.user__box > .data-user > .data-permitions > .data-roles {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.user__box > .data-user > .data-permitions > .data-roles > .role-checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}
.user__box > .data-user > .data-actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.user__box > .data-user > .data-actions > button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(101, 108, 122, 0.5);
}



.add-new-user {
  margin-top: 50px;
  margin-left: 5%;
}
.add-new-user > a > button {
  background-color: #63c0bb;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-family: var(--font-montserrat);
  color: #fff;
  font-size: 18px;
}