.header_platform {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.nav-platform {
  background-color: #e5e5e54f;
  padding: 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease 1s;
}
.nav-scroll {
  background-color: #fff;
}
.nav-logo > a {
  display: flex;
  align-items: center;
}
.nav-logo > a > img {
  width: 60px;
  height: 73px;
  object-fit: cover;
}
.nav-menu {
  width: 50px;
  height: 50px;
  background-color: #63c0bb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-menu > span {
  font-family: var(--font-body);
  font-size: 20px;
    color: #fff;
}
.nav-menu-modal {
  background-color: rgba(99, 192, 187, 0.8);
  margin: 1px 10% 0 auto;
  text-align: left;
  width: 156px;
  border-radius: 10px;
  padding: 10px;
  z-index: 2;
}
.nav-menu-modal > ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.nav-menu-modal > ul > li > a {
  display: flex;
  align-items: center;
  font-family: var(--font-link);
  font-size: 18px;
  color: #fff;
}
.nav-menu-modal > ul > li > a > span {
  display: block;
  margin-left: 8px;
}
