@font-face {
  font-family: 'Coco Gothic Lighter';
  src: url('./fonts/Coco-Gothic-Ultralight-trial.ttf');
}
@font-face {
  font-family: 'Coco Gothic Bold';
  src: url('./fonts/Coco-Gothic-Bold-trial.ttf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Raleway Medium';
  src: url('./fonts/Raleway-Medium.ttf');
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --font-montserrat: 'Montserrat Regular';
  --font-coco-gothic: 'Coco Gothic Lighter';
  --font-coco-gothic-bold: 'Coco Gothic Bold';
  --font-raleway: 'Raleway Medium';
}

body {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}