/* @font-face {
  font-family: 'Coco Gothic Lighter';
  src: url('./fonts/Coco-Gothic-Ultralight-trial.ttf');
}
@font-face {
  font-family: 'Coco Gothic Bold';
  src: url('./fonts/Coco-Gothic-Bold-trial.ttf');
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Raleway Medium';
  src: url('./fonts/Raleway-Medium.ttf');
} */

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --font-title: "Europa-Bold", sans-serif;
  --font-subtitle: "Europa-Bold", sans-serif;
  --font-paragraph: "Montserrat", sans-serif;
  --font-link: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-body);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.errmsg {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto 10px;
  color: red;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(133, 133, 133, 0.3);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}